.form {
    margin: 0 auto;
    max-width: 30rem;
    border: var(--border);
    font-size: 1.25rem;

    background: var(--background-color);

    box-shadow: 0.75rem 0.75rem 0 -0.2rem var(--accent-color);
}

.form__container {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
}

/* The following media queries allow for more padding inside the form as the window size increases */
@media screen and (min-width: 24.75em) {
    .form__container {
        padding-left: 2rem;
    }
}

@media screen and (min-width: 30em) {
    .form__container {
        padding-left: 2.5rem;
    }
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form__label {
    margin-bottom: 0.5rem;
}

.form__field {
    outline: none;
    border: none;

    border-bottom: 3px solid #fff;

    font-size: inherit;
    font-family: inherit;

    padding: 0.75rem 0.5rem;
    background: var(--background-color);
}

.form__field:focus {
    border-bottom: var(--border);
}

.button--form {
    display: inline-block;
    margin-top: 2rem;
    align-self: flex-end;
    padding: 0.75rem 3rem;
    border: none;
    background: var(--background-color);
}

.button--form:hover {
    background: var(--background-color-hover);
    cursor: pointer;
}

.form__small {
    font-size: 0.83rem;
    color: var(--text-muted);
}

.form__link {
    color: var(--accent-color);
    text-decoration: none;
}

.form__link:hover {
    color: var(--accent-color);
}

.form__error {
    margin-top: 0.5rem;
}

.form__error,
.form__flash--danger {
    background: var(--accent-color);
}

.form__flash {
    margin: 0.5rem;
}

.form__flash--success {
    background: var(--accent-color-2);
}