.button__link {
    display: inline-block;
    margin-top: 2rem;
    align-self: flex-end;
    padding: 0.75rem 3rem;
    border: none;
    background: var(--button-background-color);
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
}

.button__link:hover {
    background: var(--accent-color);
    cursor: pointer;
}

.movie-added {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    border: var(--border);
    border-radius: 8px;
    background-color: var(--background-color);
}