{% from "macros/svgs.html" import moon, sun %} {% macro header(email, theme) %}
<header class="header">
  <div class="nav-container">
    <a href="{{ url_for('pages.index') }}" class="header__logo">
      <svg class="logo__icon">
        <use
          href="{{ url_for('static', filename='img/icons.svg') }}#movie-watchlist-logo"
        ></use>
      </svg>
      <span class="logo__name">Watchlist</span>
    </a>
    <nav class="nav">
      {% if not email %}
      <a
        href="{{ url_for('pages.login') }}"
        class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.login') }}"
      >
        <span class="nav__item">Log in</span>
      </a>
      <a
        href="{{ url_for('pages.register') }}"
        class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.register') }}"
      >
        <span class="nav__item">Sign up</span>
      </a>
      {% else %}
      <a
        href="{{ url_for('pages.index') }}"
        class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.index') }}"
      >
        <span class="nav__item">Movies</span>
      </a>
      <a
        href="{{ url_for('pages.account') }}"
        class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.account') }}"
      >
        <span class="nav__item">Account</span>
      </a>
      <a href="{{ url_for('pages.logout') }}" class="nav__link">
        <span class="nav__item">Log out</span>
      </a>
      {% endif %}
      <a
        href="{{ url_for('pages.toggle_theme', current_page=request.path) }}"
        class="nav__link nav__item--icon"
      >
        <span class="nav__item">
          {% if theme == "dark" %}
          <svg class="nav__icon">
            <use
              href="{{ url_for('static', filename='img/icons.svg') }}#icon-sun-colorful"
            ></use>
          </svg>
          {% else %}
          <svg class="nav__icon">
            <use
              href="{{ url_for('static', filename='img/icons.svg') }}#icon-moon-colorful"
            ></use>
          </svg>
          {% endif %}
        </span>
      </a>
    </nav>
  </div>
</header>
{% endmacro %}
